

/* forms */
.form_control {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.search_input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url(../images/cancel.svg);
    background-size: 100%;
    height: 4px;
    width: 4px;
    padding: 4px;
    border-radius: 4px;
    margin: 0 0 0 6px;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 13px;
    font-family: var(--font-medium);
    border-radius: 4px;
}

.btn.btn-secondary {
    color: var(--c-text);
    border: 1px solid var(--c-lightGray);
    transition: var(--fast-trans);
}

.btn.btn-secondary:hover {
    border-color: var(--c-gray-80);
}

.plain-btn { 
    border: none; 
    outline: none; 
    background: none; 
    display: inline-block; 
    color: inherit; 
    cursor: pointer; 
    transition: var(--fast-trans); 
}
/* \\\ forms */



.active,
.in_active { position: relative; }

.active::after,
.in_active::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: var(--c-green);
    position: absolute;
    right: 4px;
    bottom: 6px;
}
.in_active::after { background-color: #fa4e66; }


